@use "../partials/palette";
@use "../partials/typography";
@use "../partials/border";

.search {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;

	width: 660px;
	height: 214px;

	border-radius: 20px;

	background-color: palette.$light;

	font-family: typography.$font;
	color: palette.$font-colour;

	@include border.search;

	&--top {
		position: fixed;
		top: 0px;

		border-radius: 0px 0px 20px 20px;
	}

	&__header {
		text-align: center;
		width: 100%;

		margin: 20px;

		font-size: 50px;
		font-weight: 100;
	}

	&__query {
		width: 400px;
		height: 60px;

		margin: 10px;

		border-radius: 10px;

		font-family: inherit;
		color: inherit;

		background-color: palette.$font-bg;
	}

	&__submit {
		width: 200px;
		height: 60px;

		margin: 10px;

		border-radius: 10px;

		font-family: inherit;
		color: palette.$accent-font;
		font-size: 40px;
		font-weight: 100;

		background-color: palette.$accent;
	}
}
