@use "../partials/palette";
@use "../partials/devices";
@use "../partials/typography";

@use "../modules/defaults.scss";

.results {
	display: grid;
	margin-top: 200px;
	margin-bottom: 100px;

	@include devices.phone {
		margin-top: 100px;
		grid-template-columns: repeat(1, 1fr);
	}
	@include devices.tablet {
		grid-template-columns: repeat(2, 1fr);
	}
	@include devices.laptop {
		grid-template-columns: repeat(3, 1fr);
	}
	@include devices.desktop {
		grid-template-columns: repeat(4, 1fr);
	}

	@include defaults.hidden;

	// special card for appending results.
	&__append {
		@include devices.phone {
			grid-column: span 1;
		}
		@include devices.tablet {
			grid-column: span 2;
		}
		@include devices.laptop {
			grid-column: span 3;
		}
		@include devices.desktop {
			grid-column: span 4;
		}
		align-self: start;

		width: fit-content;
		height: 60px;

		justify-self: center;

		justify-content: center;
		align-items: center;

		font-size: 24px;
	}
}
