@use "./partials/palette";

@use "./modules/defaults.scss";
@use "./modules/search.scss";
@use "./modules/book.scss";

.body {
	@include defaults.flex-center;
	flex-direction: column;

	min-height: 100vh;

	margin: 0px;
	padding: 100px;

	background-color: palette.$dark;
}

.results {
	display: grid;
	grid-template-columns: repeat(4, 1fr);

	margin-top: 200px;
}

.modal {
	&__bg {
		@include defaults.flex-center;

		position: absolute;
		top: 0;
		left: 0;

		z-index: bottom;

		width: 100vw;
		height: 100vh;

		margin: 0px;

		background-color: rgba(0, 0, 0, 0.2);

		&--hidden {
			display: none;
		}
	}
}
