@use "./partials/palette";
@use "./partials/devices";

@use "./modules/defaults.scss";
@use "./modules/search.scss";
@use "./modules/card.scss";
@use "./modules/results.scss";
@use "./modules/modal.scss";

.body {
	@include defaults.flex-center;
	flex-direction: column;

	min-height: 100vh;

	margin: 0px;
	//padding: 100px;
	padding: 0px;

	background-color: palette.$dark;
}
